.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 200px; 
  background-color: #fff;
  margin-bottom: 20px; 
}

.card img {
  width: 80%; 
  height: auto; 
}

.card h3, .card p {
  padding: 0 15px;
}

.card p {
  color: #000; 
  font-size: 14px; 
  margin-bottom: 15px; 
}
